$wit:rgb(255, 255, 255);
$gebrokenWit:rgb(250, 250, 250);
$warmWit:rgb(255, 255, 246);
$lichtGrijs:rgb(151, 153, 156);
$donkerGrijs:#343a40;
$goud:rgb(200, 175, 150);
$titelFont: 'Gayathri', sans-serif;
$bodyFont:'Lora', serif;
$navFont: 'Ubuntu', sans-serif;

body {
    .vpContainerSmall {
        position: relative;
        min-height: 100vh;

        main {
            margin:0;
            .fotoContainer {
                img {
                    max-width: 100%;
                }
            }

            .tekstContainerSmall {
                padding: 1em;
                padding-bottom: 2.5em;

                h1{
                    font-family: $titelFont;
                    font-size: 2.3em;
                    text-align: center;
                }

                .cv{
                    padding-bottom: 2.5em;
                }
            }
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    body {
        .vpContainerSmall {
            main {
                .fotoContainer {
                    img {
                        max-width: 100%;
                    }
                }
    
                .tekstContainerSmall {
                    margin-top: 2em;
                    padding: 1.2em;
                    padding-bottom: 7em;
                    p{
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}