$wit:rgb(255, 255, 255);
$gebrokenWit:rgb(250, 250, 250);
$warmWit:rgb(255, 255, 246);
$lichtGrijs:rgb(151, 153, 156);
$donkerGrijs:#343a40;
$goud:rgb(200, 175, 150);
$titelFont: 'Gayathri', sans-serif;
$bodyFont:'Lora', serif;
$navFont: 'Ubuntu', sans-serif;

body {
    font-family: $navFont;

    .vpContainerSmall {
        position: relative;
        min-height: 100vh;

        main {
            padding-top: 1em;
            margin:0;
            
            h1{
                font-size:2.3em;
                text-align: center;
                font-family: $titelFont;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    margin: 0;
                    margin-top: 1.5em;

                    &:last-child{
                        padding-bottom: 4em;
                    }
                    .card {
                        border:2px solid black;
                        width: 100%;
                        background-color: $donkerGrijs;
                        color: $gebrokenWit;

                        .card-body {
                            .card-title{
                                font-size: 1.5em;
                            }
                            .card-text{
                                font-size: 1em;
                            }
                            .btn {
                                background-color: $lichtGrijs;
                                border: 1px solid black;
                                font-size: 1em;

                                a {
                                    text-decoration: none;
                                    color: $gebrokenWit;
                                }

                                &:hover {
                                    background-color: $goud;
                                }

                                &:active {
                                    background-color: $goud;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    body {
        .vpContainerSmall {
            main {    
               h1{
                   margin:1.2em auto;
               }
                ul {
                    li {
                        margin-top: 1.2em;
                        &:last-child{
                            padding-bottom: 7em;
                        }
                        .card {
                            .card-body {
                                font-size: 1.1em;
                                .card-title{
                                    font-size:1.7em;
                                }

                                .card-text{
                                font-size: 1.3em;
                                }
                                .btn {
                                    border: 1px solid black;
                                    font-size: 1.1em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}